* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    
}
.container{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
}

.grid-container{
    margin:20px;
    width: 50%;
    height: 50%;
    display:grid;
    gap: 1px;
    grid-template-columns:repeat(3, 1fr) ;
    /* grid-template-rows:repeat(3, 1fr) ;  */
}

.board__cell {
    display:flex ;
    justify-content: center;
    align-items: center;
    outline: none;
    font-size: 20px;
    border: 1px solid black;  
    height: 100px;
    background-color: lightskyblue;
    /* grid-area: n0,n1,n2,n3,n4,n5,n6,n7,n8; */
    cursor: pointer;
}



