.container.search{
    margin-top: 5%;
}
.container.search input{
    background-color: aliceblue;
    font-size: 17px;
}
.material-symbols-outlined.chevron_left {
    margin: 5% 84% 5% 0%;
    font-size: 40px;
}
.container--search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.closeFormSearch{
    text-align: center;
}