* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hiddenWord {
    font-size: 32px;
}

.leftAttempts {
    font-size: 16px;
}
