* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container--full {
    height: 100%;
}

.transparentButton {
    background-color: Transparent;
    border: none;
    cursor: pointer;
}



