html,body {
  margin: 0;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: hidden;  */
  background-color: aqua;
}
.container--full{
  height: 100%;
}

.container--spaced {
  gap: 10px;
}

.container--padded {
  padding: 10px;
}