.Feedback {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .Feedback__box {
    /* width: 50vw; */
    /* height: 25vh; */
    height: 150px;
    width: 220px;
    border: 2px solid black;
    border-radius: 14px;
    gap: 10px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
  }
  
  .Feedback--error > .Feedback__box {
    background-color: red;
  }
  
  .Feedback--warning > .Feedback__box {
    background-color: orange;
  }
  
  .Feedback--success > .Feedback__box {
    background-color: green;
  }
  
  .Feedback--info > .Feedback__box {
    background-color: dodgerblue;
  }
  