.menuContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.HeaderMenuContainer{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding: 8px;
}