/* .profileContainer{
    width: 100%;
    background-color: #280567;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gender{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
} */
/* .updateProfileCcontainer{
    height: 100%;
} */
