*{font-family:'Cormorant SC', serif;
    box-sizing: border-box;
}

html,
body {

    height: 100%;

}

body {

    margin: 0;
    background-color: rgb(195, 215, 234);
    color: rgb(13, 1, 1);

}

.main 
    {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 50px;
    height: fit-content;
   background-color:transparent;
   flex-grow: 1;
   overflow: auto;
   
}
div {
    display:flex;
flex-direction: column;
    text-align: center;
   /* color:green;*/
    gap:20px;
}
input{ 
    
    background-color: lightsteelblue;
    border: 1.5px solid red;
    color: azure;
    border-radius: 15px;
    height: 25px;
    width: 160px;
}
button {
display: flex;
text-align:center;
justify-content: center;
background-color: rgb(85, 204, 136);
border: 0%;
border-radius: 15px;
color: rgb(162, 10, 10);
width: 130px;
}


a { 
    background-color: chartreuse;

}
form {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 250px;
    background-color: rgba(248, 228, 10, 0.362);
    border-radius: 20px;
    gap: 30px;
    background:transparent;
background: 
    linear-gradient(236deg, 
    rgba(131,58,180,1) 0%, 
    rgba(29,54,253,0.18951330532212884) 50%, 
    rgba(252,69,185,1) 100%);
    border: 3px solid;
    
}


img{
margin-bottom: 50px;
border-radius: 65px;
}

.home-page {
    display: flex;

    flex-direction: column;
    height: 100%;
    width: 100%;
}
.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:fit-content;
    overflow: scroll;
    /* width: 250px; */
    background-color: rgba(248, 228, 10, 0.362);
    border-radius: 20px;
    gap: 30px;
    background: transparent;
    
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* flex-shrink: 0; */
}
.list::-webkit-scrollbar {
    display: none;
}
.main {
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.main::-webkit-scrollbar {
    display: none;
}

.list__item {
    display: flex;
    
    justify-content: center;
    align-items: center;
    background-color: violet;
    color: black;

    width: 300px;
    font-size: 1.5rem;
    min-height: 3rem;
    padding: 10px;

}

.list__item-text {
    width: calc(100% - 1rem);
    height: auto;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;

    
}

.list__item-delete-button {
    align-self: flex-end;
    width: 0rem;
    height: 0rem;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: transparent;
    text-align: center;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    background-color: bisque;
    margin: 0;
   
}

.transparent-button {
    background-color: transparente;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    justify-content: center;

}

/*.logout {
display: flex;
text-align:center;
background-color: blue;
flex-direction: column;
justify-content: center;
align-items: center;
color: black;
width: 45px;
height: 20px;

} */

.logout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 0%;
    color: white;
    font-size: 1rem;
    width: 10%;
   

}

.header {
    display: flex;
    height: 50px;
    width: 100%;
    flex-shrink: 0;
    background-color: blue;
}

.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0%;
    padding: 0%;
    color: white;
    /* font-size: 1rem; */
    width: 10%; 

}

.close-button {


}

 .list {
    gap: 10px;
} 

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.off {
    display: none;
}

.flex {
    display: flex;
    flex-direction: row !important;
}