.Feedback {
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 20px;
    gap: 20px;
}

.Feedback__box {
    width: 50vw;
    height: 25vh;
}

.Feedback--error > .Feedback__box {
    background-color: rgba(255, 0, 0);
}

.Feedback--warning > .Feedback__box {
    background-color: rgba(255, 166, 0);
}

.Feedback--success > .Feedback__box {
    background-color: rgba(0, 128, 0);
}

.Feedback--info > .Feedback__box {
    background-color: rgba(30, 143, 255);
}