h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: .5rem;
    line-height: 1.25;
    color: #313131;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}

h3 {
    font-weight: 700;
    margin-top: 1.5rem;
    font-size: 1.25rem;
}

p {
    text-align: justify;
    margin-top: 0;
    margin-bottom: 1rem;
}

ul,
ol,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

.container-section {
    margin: 5%;
}

/* ==================================== */
.about {
    text-align: center;
    padding: 30px 10px;
    /* position: relative; */
}

.info-about,
.info-section {
    padding: 5%;
}

.img-about {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.portrait-title h2 {
    font-size: 1.75em;
    font-weight: 300;
    color: #000000;
    margin: 20px 0 10px 0;
}

.portrait-title h3 {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.54);
    margin: 0px 0 10px 0;
}

.portrait-title h3 a {
    text-decoration: none;
}

.network-icon {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

.network-icon li:last-of-type {
    margin-right: 0;
}

.network-icon li {
    margin-right: 10px;
}

.network-icon--img {
    height: 20px;
    width: 20px;
}

/* ==================================== */
ul.ul-interests li {
    font-size: 0.9rem;
}
.info-exp--details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.interests,
.education {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

ul.ul-education {
    list-style: none;
    padding-left: 22px;
}

ul.ul-education li .container-education {
    display: flex;
    margin-bottom: 1rem;
}

/* ul.ul-education li img.graduation{
    left: -2em;
} */
ul.ul-education li .description {
    padding: 0px 20px;
}

ul.ul-education li .description p {
    margin: 0;
    margin-bottom: 0.1rem;
}

ul.ul-education li .description p.course {
    font-size: .9rem;
}

ul.ul-education li .description p.institution {
    font-size: .75rem;
    color: rgba(0, 0, 0, .6);
}

/* ==================================== */
section.skills {
    margin: 0;
    width: 100%;
    background-color: #eaf2fa;
}

section.skills div.container-skills {
    /* width: 100%;
    padding-right: 15px;
    padding-left: 15px; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    
    /* padding: 15px; */
    margin-right: auto;
    margin-left: auto;
    
}
.item--skills{
    text-align: center;
    /* margin: 10px 0; */
    margin: 15px;
    width: 100%;
    background-color: aqua;
    /* border: 1px solid aqua; */   
}
div.item--skills p{
    text-align: center;
}

.item--skills.one{
    margin: 10px;
    background-color: transparent;
}
.featurette-icon{
    padding: 5px;
}

.featurette-icon--img{
    height: 30px;
    width: 30px;
}
.featurette h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 400;
    color: #333;
}
.grid-item p{
    text-align: center;
}
/* =================================================== */
section.experience{
    width: 100%;
}
.item--experience{
    text-align: center;
    /* margin: 10px 0; */
    margin: 15px;
    width: 100%;
    background-color: aqua;
    /* border: 1px solid aqua; */   
}
.container-experience{
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}
/* =================================================== */
@media(min-width:476px){
    .item--skills.one{
        flex: 100%;
        max-width: 100%;
        
    }
    .item--skills{
        flex: 43%;
        max-width: 50%;
        
    } 
}
@media(min-width:576px){
    .item--skills.one{
        flex: 100%;
        max-width: 100%;
        
    }
    .item--skills{
        flex: 27.33333333%;
        max-width: 33.33333333%;
        
    } 
}

@media(min-width:760px){
    .info-exp{
        padding-top: 15px;
    }  
}