.retrievePublicRecipe
    background-color: red
    height: 200px
    overflow: rigth
    display: flex
    align-items: center
    justify-content: center

.delete
    display: flex
    justify-content: flex-end
    margin-right: 20px