.recipesPage
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    justify-content: space-bewtween
    align-items: center
    padding: 25px

.recipesMenu
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    flex-grow: 1
    height: 100%
    width: 100%
    gap: 20px

.myRecipes 
    display: flex
    flex-grow: 1
    height: 25%

.recipes-container__myRecipes
    display: grid
    grid-rows: auto
    grid-template-columns: 1fr 1fr 1fr
    gap: 2%
    min-heigth: 60%
    text-align: center

.recipes-container__inspiration
    display: flex
    height: 100%
    width: 100%
    flex-direction: row
    justify-content: flex-start
    align-items: center
    text-align: center
    overflow: scroll
    gap: 10px
    padding: 10px
    flex-grow: 1

.publicRecipe
    background-color: pink
    height: 18vh
    min-width: 28vw
    display: flex
    justify-content: center
    flex-direction: column-reverse

.userRecipe
    background-color: pink
    height: 18vh
    width: 28vw
    display: flex
    justify-content: space-evenly
    flex-direction: column-reverse

.addRecipe
    background-color: white
    height: 20%
    width: 100%
    display: flex
    flex-direction: row
    justify-content: center
    text-align: center

.retrievePublicRecipe
    background-color: red
    height: 200px
    overflow: rigth
    display: flex
    align-items: center
    justify-content: center
