.newRecipeForm
    width: 100%
    flex-direction: column
    display: flex
    text-align: center
    height: 100%
    gap: 10px
    padding: 0 20px 0 20px

.recipeHeaderContainer
    display:flex
    width: 100%
    gap: 10px

.ingredientsRecipeContainer
    display: flex
    padding: 0
    align-items: center
    justify-content: center

.createButton
    height: 10px

.unitSelect
    border: none
    background-color: rgba(0, 0, 0, 0.0)

.userRecipeTitle
    margin: 0
    align-self: center
    margin-bottom: 20px
