.retrievePublicRecipe
    color: white
    overflow: rigth
    display: flex
    align-items: center

.delete
    display: flex
    justify-content: flex-end
    margin-right: 20px

.recipes-container__myRecipes
    display: flex
    flex-direction: column
    flex-grow: 1
    width: 100%
    align-items: center
    justify-content: center
    min-heigth: 200px
    text-align: center
    gap: 5px

.recipes-container__inspiration
    display: flex
    width: 90%
    flex-direction: row
    justify-content: flex-start
    align-items: center
    text-align: center
    gap: 10px
    padding: 10px
    flex-grow: 1

.publicRecipe
    color: white
    border: 3px solid white 
    height: 18vh
    width: 35vw
    display: flex
    justify-content: center
    align-items: center
    

.userRecipe
    color: white
    width: 90%
    height: 10vh
    display: flex
    font-size: larger
    border: 3px solid white 
    justify-content: space-between
    padding: 0px 0px 0px 15px
    align-items: center
    border-radius: 5px

.addRecipe
    height: 80px
    width: 90%
    background-image: url('../images/add_new_recipe.jpg')
    background-size: 100%
    display: flex
    justify-content: flex-start
   
    background-position: center
    border-radius: 5px
   

.addRecipe__button
    color: white
    width: 100%