.settingsMenu
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    gap: 20px
    justify-content: center


.settingsFooter 
    display: flex
    padding: 20px
    justify-content: space-between
    align-items: center

