

.searchPage{
    width: 100%;
    height: 100%;

}
/* .favModal{
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

.favDescription{
    justify-content: center;
    width: 100%;
    text-align:inherit;
    font-size: 15px;
}

.placesList{
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
} */

/* .container{
    position: fixed;
} */