.homeIcon{
    color: white;
    padding-left: 5%;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 10%;
    min-height: 60px;
    background-color: var(--headerBg);
}
header h1{
    width: 90%;
    text-align: center;
    color: white;
    font-size: 28px;
    font-weight: 400;
}


.menuContainer{
    padding-right: 5px;
    width: 10%;
    position: relative;
    display: inline-block;
}

.menuIcon, .menuIcon1, .menuIcon2{
    width: 35px;
    height: 5px;
    background-color: white;
    margin-top: 6px;
    transition: 0.4s;
}

.change .menuIcon{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .menuIcon1{
    opacity: 0;
}

.change .menuIcon2{
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.dropdownMenu{
    position: absolute;
    display: none;
    width: 100%;
    min-width: 70px;
    height: 100px;
    right: 0px;
}

.dropdownMenu a{
    text-decoration: none;
    color: white;
}
.displayBlock{
    display:block;
}

.dropdownMenu > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding:0px;
    margin: 0;
    list-style: none;
    background-color: var(--dropdownBg);
}

.dropdownMenu > ul > li{
    text-align: right;
    font-size: 1.6rem;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    padding-right: 10px;
    color: white;
}